.Mail-container{
    flex: 1;
    background-color: whitesmoke;
}

.mail-btn{
    width: 100%;
    background-color: white;
}

.mail-body{
    height: 100%;
    padding: 20px;
}

.mail-paper{
    padding: 15px;
    background-color: white;
    height: 90%;
    box-shadow: 0px 5px 7px 0px rgba(0,0,0,0.24);

}


